
/* .content-container{
    position: relative;
    top: 150px;
  }
   */
   
  
      .form-search {
        padding: 2px;
        width: 400px;
  
        border-radius: 13px;
        font-size: 16px;
        height: 33px;
      }
  
      .submit-search {
        color: green;
        border-radius: 10px;
        padding: 3px;
        height: 30px;
      }
  
  
      .dropdown {
        position: relative;
        display: inline-block;
      }
  
      .dropbtn {
        font-weight: 900;
        color: white;
        background: transparent;
        font-size: 20px;
        border: none;
        cursor: pointer;
      }
  
      .dropbtn:hover {
        color: aqua;
      }
  
      .dropdown-content {
        top: 50px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown-content a:hover {
        background-color: #ddd;
      }
  
      .show {
        display: block;
      }